@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
header.shadow{
  background:#ffffff;
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
header.shadow .navbar a{
  color: #000000;
}
header.shadow a{
  color: rgb(13, 13, 13);
}
.logo {
  width: 40px;
}
.nav-item {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}
.nav-item:hover {
  color: rgb(168, 239, 255, 0.9);
}
.nav-item::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  width: 0;
  height: 0.15rem;
  transform: translateX(-50%);
  background-color: rgba(12, 191, 231, 0.9);
  transition: all 0.5s ease;
}
.nav-item:hover::after {
  width: 100%;
}
.icons {
  position: absolute;
  right: 5%;
  font-size: 2.3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/* ================================================================== */
/* ================================================================== */


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(3, 3, 3);
  align-items: center;
  min-height: 100vh;
}
.content h1 {
  font-size: 8rem;
  font-weight: 600;
  -webkit-text-stroke: 4px rgb(255, 255, 255);
  color:#fff;
  transition: all 0.5s ease;
}
.content p{
    font-size: 20px;
    color: transparent;
    transition: all 0.5s ease;
    -webkit-text-stroke: 2px rgb(168, 239, 255, 1);
}
.btn {
  width: 180px;
  height: 50px;
  border-radius: 5px;
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.btn:hover {
  transform: translateY(-5px);
}
.light::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(
    rgb(168, 239, 255, 1) 20deg,
    transparent 150deg
  );
  width: 400%;
  height: 400%;
  border-radius: 5px;
  animation: rotate 3s linear infinite;
}
.light::after {
  content: "Read Now";
  position: absolute;
  width: 170px;
  height: 40px;
  background: rgba(197, 197, 197, 0.2);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 5px;
}
.btn {
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in;
  }
  .btn:hover {
    transform: translateY(-5px);
  }
  .lighr::before {
    content: "";
    position: absolute;
    background-image: conic-gradient(
      rgb(168, 239, 255, 1) 20deg,
      transparent 150deg
    );
    width: 400%;
    height: 400%;
    border-radius: 5px;
    animation: rotate 3s linear infinite;
  }
  .lighr::after {
    content: "Learen More";
    position: absolute;
    width: 170px;
    height: 40px;
    background: rgba(117, 103, 103, 0.2);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 6px;
  }
  header a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.background-video {
  position: absolute;
  backdrop-filter: blur(8rem);
  cursor:pointer;
  opacity:0.5;
  right: 0;
  bottom: 0;
  z-index:1;
}
/* ============================================================ */

/* ============================================================ */


.middle{
  width: 100%;
  height: 50vh;
  background: #eeecec;
}
.middle section.wrapper{
  display: flex;
 text-align: center;
}
.section-text{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.section-text span{
  width: 50%;
  padding: 20px;
  font-size: 20px;
  border-bottom: 3px solid green;
  border-top: 3px solid green;
  margin-top: 40px;
}
.red{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.red small{
  font-size: 50px;
}
/* ============================================================ */

/* ============================================================ */


.center{
  width: 100%;
  height: 100vh;
}
.section-left ul{
  width: 100%;
  display:flex;
  position: relative;
  justify-content:center;
  flex-wrap: wrap;
}
.section-left ul li{
  width: 10%;
  list-style: none;
  margin-right: 40px;
}
.section-left ul li button{
  padding: 10px;
  margin-top: 10px;
  width: 150px;
  border-radius: 50px;
  border: none;
  background: rgb(1, 33, 1);
  padding: 1rem 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.section-left ul li button:hover{
  box-shadow: 0.6em 0.6em 1.2em #797994, -0.5em -0.5em 1em #0d9ab6;
  background: rgb(5, 19, 5);
}
.right{
  padding: 100px;
}
.right h1{
  font-size: 50px;
  font-family: monospace;
}
.right h2{
  font-weight: 300;
}
.section-left1{
  display: none;
}
.section-left1 ul{
  width: 100%;
  display:flex;
  position: relative;
  justify-content:center;
  flex-wrap: wrap;
}
.section-left1 ul li{

  list-style: none;
  margin-right: 40px;
}
.section-left1 ul li button{
  padding: 10px;
  margin-top: 10px;
  width: 150px;
  border-radius: 50px;
  border: none;
  background: rgb(1, 33, 1);
  padding: 1rem 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.section-left1 ul li button:hover{
  box-shadow: 0.6em 0.6em 1.2em #797994, -0.5em -0.5em 1em #0d9ab6;
  background: rgb(5, 19, 5);
}
.right1{
  padding: 100px;
}
.right1 h1{
  font-size: 50px;
  font-family: monospace;
}
.right1 h2{
  font-weight: 300;
}


/* ============================================================ */

/* ============================================================ */


.burtha{
  width: 100%;
  height: 120vh;
  background-color: #f9f7ff;
}
.time h1{
  font-size: 40px;
  font-family: monospace;
  padding: 30px;
  text-align: center;
}
.time h3{
  font-size: 20px;
  padding:20px;
}
.time p{
  width: 100%;
  color: #000000;
  font-size: 20px;
  text-align:center;
  padding: 20px;
}
.bottom{
  background-color: #f9f7ff;
}
.bottom h3{
  font-size: 20px;
  padding:20px;
}
.bottom p{
  color: #000000;
  font-size: 20px;
  position: absolute;
  text-align:center;
  padding: 10px;
}
/* * ============================================================ */ 

/* ============================================================ */

#preloader{
  background: #050000  url('imag/7a8f8d634013568124e130728834d47a.webp') no-repeat center center;
  background-size: 35%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
/* * ============================================================ */ 

/* ============================================================ */
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #f5f0f0;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #171616;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  color: #040538;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #302b2b;
  padding-left: 9px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(37, 35, 35, 0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #030303;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #f5eeee;
  background-color: #141212;
}



@media (min-aspect-ratio: 16/9) {
  .background-video {
    width: 100%;
    height: auto;
  }
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
@media (max-aspect-ratio: 4/3) {
  .background-video {
    width: auto;
    height: 100%;
  }
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
@media all and (max-width:1440px){
  footer{
    margin-top: 200px;
  }
}

@media (max-width: 1024px) {
  header {
    padding: 1.3rem 5%;
  }
  .content h1 {
    font-size: 7rem;
  }
  .lock ul li{
    width: 15%;
    padding: 10px;
  }
  .section-left ul{
    width: 100%;
    gap: 30px;
  }
  footer{
    margin-top: 300px;
  }
}


/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */


@media (max-width: 900px) {
  header {
    padding: 1.3rem 5%;
  }
  .lock ul li{
    width: 15%;
    padding: 10px;
  }
  .content h1 {
    font-size: 6rem;
  }
  .section-left ul{
    width: 100%;
    gap: 50px;
  }
}


/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */


@media (max-width: 768px) {
  header::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
  }
  .content h1 {
    font-size: 5rem;
  }
  .section-text span{
    font-size: 18px;
  }
  .bottom p{
    text-align: start;
  }
  .time p{
    text-align: start;
  }
  .red{
    padding: 10px;
  }
  .red small{
    font-size: 40px;
  }
  header::after {
    content: "";
    top: 0;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    transition: 0.8s;
  }
  header.shadow .icons{
    color: #000000;
  }
  .icons {
    color: #fff;
    display: inline-flex;
  }
  #check:checked ~ .icons #menu-icon {
    display: none;
  }
  .icons #close-icon {
    display: none;
  }
  #check:checked ~ .icons #close-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }
  #check:checked ~ .navbar {
    height: 18.7rem;
  }
  .nav-item {
    display: block;
    font-size: 1.1rem;
    margin: 2rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }
  .nav-item:hover::after {
    width: auto;
  }
  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
  }
  .lock ul{
    display: flex;
    flex-wrap: wrap;
  }
  .lock ul li{
    width: 20%;
    padding: 10px;
  }
  .center{
  height: 120vh;
}
.section-left ul{
  width: 90%;
  gap: 55px;
}

footer{
  margin-top: 220px;
}
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */



@media (max-width: 620px) {
  .content h1 {
    font-size: 4rem;
  }
  .section-text span{
    font-size: 14px;
  }
  .red{
    padding: 10px;
  }
  .red small{
    font-size: 30px;
  }
  .lock ul li{
    width: 19%;
  }
  .bottom p{
    text-align: start;
  }
  .time p{
    text-align: start;
  }
  .section-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-left ul{
    width: 70%;
    gap: 70px;
  }
  .section-left{
    display: none;
  }
  .section-left1{
    display: block;
  }
  footer{
    margin-top: 290px;
  }
}

/* * ---------------------------------------------------------- */ 
/* ---------------------------------------------------------- */

@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */


@media (max-width: 450px) {
  .content h1 {
    font-size: 3rem;
  }
  .btn {
    width: 130px;
  }
  .light::after {
    width: 120px;
    font-size: 0.9rem;
  }
  .content h1 {
    font-size: 3.1rem;
  }
  .section-text span{
    font-size: 15px;
    padding: 10px;
  }
  .red{
    padding: 10px;
  }
  .red small{
    font-size: 30px;
  }
  .lock ul{
    width: 100%;
  }
  .lock ul li img{
    width:100%;
  }
  .lock ul li {
    width:20%;
  }
  .time p{
    font-size: 16px;
    line-height: 30px;
  }
  .bottom p{
    font-size: 16px;
    line-height: 30px;
  }
  .bottom p{
    text-align: start;
  }
  .time p{
    text-align: start;
  }
  .center{
    height: 100vh;
  }
  .section-left{
    display: none;
  }
  .section-left1{
    display: block;
  }
  .time h1{
    font-size: 35px;
    font-family: monospace;
    padding: 30px;
    margin-top: 100px;
  }
  footer{
    margin-top: 400px;
  }
  
}


/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */


@media (max-width: 399px) {
  .center{
    height: 100vh;
  }
  .section-left{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-left ul{
    width: 100%;
    gap: 60px;
  }
  .section-left{
    display: none;
  }
  .section-left1{
    display: block;
  }
  footer{
    margin-top: 500px;
  }
}

/* * ---------------------------------------------------------- */ 
/* * ---------------------------------------------------------- */ 


@media (max-width: 375px) {
  .section-text span{
    font-size: 11px;
  }
  .red{
    padding: 10px;
  }
  .red small{
    font-size: 30px;
  }
  .lock ul{
    width: 100%;
  }
  .lock ul li img{
    width:140%;
    padding: 5px;
  }
  .lock ul li {
    width:20%;
  }
  .time p{
    font-size: 16px;
    text-align:start;
    line-height: 30px;
  }
  .bottom p{
    font-size: 16px;
    text-align:start;
    line-height: 30px;
  }
  .bottom p{
    text-align: start;
  }
  .time p{
    text-align: start;
  }
  .center{
    height: 100vh;
  }
  .section-left{
    display: none;
  }
  .section-left1{
    display: block;
  }
  .right1 h1{
    font-size: 30px;
    text-align: start;
    font-family: monospace;
  }
  .right1 h2{
    font-size: 13px;
    font-weight: 300;
  }
  .center{
    height: 160vh;
  }
  footer{
    margin-top: 600px;
  }
}
   
